<h1>Home</h1>
<p>You're logged in</p>
<div>
    You can now use the menu to navigate to the tasks you need to accomplish.
    <br>
    <b><i>OR</i></b>
</div>
<p><a [routerLink]="['/auth/login']">Logout</a></p>
