<div class="row">
  <div class="col-12">
    <alert></alert>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Street</th>
        <th>City</th>
        <th>Zipcode</th>
        <th>Country</th>
        <th>Role</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let u of users">
        <td>{{ u.id }}</td>
        <td>{{ u.email}}</td>
        <td>{{ u.firstName }}</td>
        <td>{{ u.lastName }}</td>
        <td>{{u.street}}</td>
        <td>{{u.city}}</td>
        <td>{{u.zipcode}}</td>
        <td>{{u.country}}</td>
        <td>{{u.role.name}}</td>
        <td>
          <button data-toggle="tooltip" data-placement="top" title="Update user information" class="btn btn-info" [routerLink]="'/users/update/' + u.id"><i class="fa fa-edit"></i></button> &nbsp;
          <a data-toggle="tooltip" data-placement="top" title="Change the role of this user" class="btn btn-warning" [routerLink]="'/users/' + u.id + '/role'"><i class="fa fa-address-card"></i></a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>